PORT=5055
NODE_ENV=production

# PostgreSQL Database Connection URL Examples:
# Local PostgreSQL:
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smart_mess_db?schema=public"
# Neon Serverless PostgreSQL:
# DATABASE_URL="postgresql://username:password@ep-cloud-12345.us-east-2.aws.neon.tech/smart_mess_db?sslmode=require"
# Render Hosted PostgreSQL:
# DATABASE_URL="postgresql://username:password@dpg-12345.singapore-postgres.render.com/smart_mess_db"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smart_mess_db?schema=public"

JWT_SECRET="super-secret-jwt-key-vit-mess-2026-secure-token"
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5175"
